{% extends 'base.html.twig' %}

{% block title %}Notes App
{% endblock %}

{% block body %}
    <div class="user">
        <h3>Hello
            {{name}}</h3>
        <a href="{{path('userLogout')}}">
            <button>Logout</button>
        </a>
    </div>
    <div class="data">
        {% for key,val in notes %}
            <div class="note">
                {{val.Content}}
            </div>
        {% endfor %}
    </div>
{% endblock %}
