{% extends 'base.html.twig' %}

{% block title %}
	Notes App
{% endblock %}

{% block body %}
	<div class="appContent">
		<div class="side">
			<div class="user">
				<p>Hello
					{% if app.user.name %}
						{{app.user.name}}
					{% else %}
						{{app.user.username}}
					{% endif %}
				</p>
				<a href="{{path('logout')}}">
					Logout
				</a>
				<a>Add new</a>
			</div>
		</div>
		<div class="data" id="notes"></div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="/scripts/delete.js"></script>
	<script src="/scripts/add.js"></script>
	<script src="/scripts/edit.js"></script>
	{{parent()}}
{% endblock %}
