{% extends "base.html.twig" %}

{% block title %}New note
{% endblock %}

{% block body %}
    <div class="container">
        <div class="formContainer">
            {{form_start(form)}}
            {{form_widget(form.Content)}}
            {{form_widget(form.Create)}}
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}
