* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
.data > h2 {
  font-size: 10vh;
}

.add-cont {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
  height: 100vh;
  width: 100%;
  background-color: rgba(71, 71, 71, 0.753);
}
.form-add {
  width: 55%;
  height: 70vh;
  position: relative;
  top: 10vh;
  left: 22.5%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.close-add {
  width: 5%;
  text-align: center;
  font-size: 5vh;
  margin: 0.5% 0.5% 0 94.5%;
  cursor: pointer;
}
.add-text {
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
}
.add-content {
  width: 70%;
  height: 40vh;
  margin: 0.5% auto;
  border-radius: 5px;
  resize: none;
  border: 1px solid #000;
  font-size: 4vh;
  padding: 5px;
}
.add-submit {
  width: 50%;
  height: 5vh;
  margin: 0.5% auto;
  font-size: 3vh;
  border-radius: 5px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
}
.disabled {
  pointer-events: none;
  background-color: rgb(122, 121, 121);
  color: rgb(189, 189, 189);
  border: 1px solid rgb(95, 95, 95);
  outline: none;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fa-spinner {
  animation: rotate 2s linear infinite;
}
@keyframes scaleEdit {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.edit-cont {
  animation: 0.6s scaleEdit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
  height: 100vh;
  width: 100%;
  background-color: rgba(71, 71, 71, 0.753);
}
.form-edit {
  width: 55%;
  height: 70vh;
  position: relative;
  top: 10vh;
  left: 22.5%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.close-edit {
  width: 5%;
  text-align: center;
  font-size: 5vh;
  margin: 0.5% 0.5% 0 94.5%;
  cursor: pointer;
}
.edit-text {
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
}
.edit-content {
  width: 70%;
  height: 40vh;
  margin: 0.5% auto;
  border-radius: 5px;
  resize: none;
  border: 1px solid #000;
  font-size: 3vh;
  padding: 5px;
}
.edit-submit {
  width: 50%;
  height: 5vh;
  margin: 0.5% auto;
  font-size: 3vh;
  border-radius: 5px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
}

.appContent {
  width: 100%;
  height: 100vh;
  min-height: 635px;
  background-color: rgb(205, 203, 206);
}

.appContent .side .user {
  float: right;
  background-color: rgb(219, 219, 219);
  width: 15%;
  height: auto;
  border: 0.5px solid gray;
  border-radius: 5px;
  margin-top: 0.5%;
  margin-right: 0.5%;
  box-shadow: 0 0 5px 1px gray;
}
.appContent .side .user h3 {
  text-align: center;
  font-style: oblique;
}
.appContent .side .user a {
  display: block;
  width: 90%;
  margin: 2% auto;
  height: 35px;
}
.appContent .side .user button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 25px;
  background-color: rgb(102, 117, 199);
  color: white;
}
.appContent .side .user > button {
  display: block;
  width: 90%;
  margin: 2% auto;
  height: 35px;
  border: none;
  border-radius: 25px;
  background-color: rgb(102, 117, 199);
  color: white;
}

.appContent .side .additionalContent {
  float: right;
  background-color: rgb(219, 219, 219);
  width: 15%;
  height: 90px;
  border: 0.5px solid gray;
  border-radius: 5px;
  position: absolute;
  top: 19%;
  right: 0.5%;
  box-shadow: 0 0 5px 1px gray;
  padding: 1.5%;
}
.appContent .side .additionalContent button {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 15px;
  background-color: rgb(102, 117, 199);
  color: white;
}

.appContent .data {
  float: left;
  width: 82%;
  height: auto;
  max-height: 900px;
  margin-top: 0.5%;
  margin-left: 0.5%;
}
.appContent .data .note {
  background-color: rgb(252, 242, 104);
  border-radius: 5px;
  width: 23.2%;
  height: 25vh;
  float: left;
  margin: 0.9%;
  padding: 0.5%;
  display: flex;
}
.note .content {
  flex: 4;
  font-size: 2.2vh;
  overflow-y: auto;
  max-height: 100%;
}
.content::-webkit-scrollbar {
  width: 5px;
}
.content::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
.note .side {
  flex: 1;
  border-left: 1px solid gray;
  padding: 2px 8px;
  font-size: 3vh;
}
.note .side p {
  margin-top: 3vh;
  text-align: center;
}
.fa-pen,
.fa-trash-alt {
  cursor: pointer;
}
.container {
  width: 100%;
  height: 100%;
}
.container .formContainer {
  width: 50%;
  height: 400px;
  margin-left: 25%;
  margin-top: 3%;
  border: 0.5px solid gray;
  padding: 3%;
}
.container .formContainer textarea {
  width: 100%;
  resize: none;
  height: 300px;
}
.container .formContainer button {
  margin-left: 25%;
  margin-top: 2.5%;
  width: 50%;
  height: 30px;
  border: none;
  border-radius: 25px;
  background-color: rgb(88, 103, 143);
  color: white;
}
