.formContainer {
  width: 100%;
  height: 100%;
}

.formContainer .LogForm {
  width: 33%;
  margin-left: 33%;
  margin-top: 5%;
  height: 380px;
  border: 0.5px solid gray;
  box-shadow: 0px 0px 5px 1px gray;
  background-color: rgba(240, 231, 231, 0.473);
}

.formContainer .LogForm h2 {
  text-align: center;
  margin-top: 2%;
  font-size: 40px;
}
.formContainer .LogForm input {
  display: block;
  margin: 8% auto;
  width: 80%;
  height: 40px;
  text-align: center;
  border: none;
}
.formContainer .LogForm button {
  margin-left: 25%;
  width: 50%;
  height: 35px;
  border: none;
  border-radius: 25px;
  background-color: rgb(85, 93, 206);
  color: #fff;
}
.formContainer .LogForm a {
  text-decoration: none;
  margin-left: 30%;
}

.formContainer .RegForm {
  width: 33%;
  margin-left: 33%;
  margin-top: 2%;
  height: 530px;
  border: 0.5px solid gray;
  box-shadow: 0px 0px 5px 1px gray;
  background-color: rgba(240, 231, 231, 0.473);
}

.formContainer .RegForm h2 {
  text-align: center;
  margin-top: 2%;
  font-size: 40px;
}
.formContainer .RegForm input {
  display: block;
  margin: 10%;
  width: 80%;
  height: 40px;
  text-align: center;
  border: none;
}
.formContainer .RegForm button {
  margin-left: 25%;
  width: 50%;
  height: 35px;
  border: none;
  border-radius: 25px;
  background-color: rgb(85, 93, 206);
  color: #fff;
}
.formContainer .RegForm a {
  text-decoration: none;
  margin-left: 30%;
}
